@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(-45deg, #F7FAFA, #A8C7CA, #DF7A61, #E7AD6B,#24348B);
  background-size: 600% 600%;
 min-height: 100svh;
 animation: AnimationGradient 100s ease infinite
}

@keyframes AnimationGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


main {

  overflow: hidden;

}
/* .circle {
  position: absolute;
  z-index: 0;
  top: -20rem;
  left: -20rem;
  background: linear-gradient(45deg, #DF7A61, #E7AD6B);
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
} */
.content {
  position: relative;
  z-index: 10;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  backdrop-filter: blur(100px);

}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 5rem;
  
  
}

.name {
  color: #F7FAFA;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 0px 3px 0px #f7fafa80;
  opacity: .5;
  margin-top: 10rem;
  line-height: 1;
  
}
.icon-link{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 10rem;
}
.icon {
  height: 2rem;
  width: 2rem;
  filter: brightness(0) saturate(100%) invert(91%) sepia(3%) saturate(167%) hue-rotate(153deg) brightness(109%) contrast(96%);
  opacity: .5;
  border-radius: 50%;
  box-shadow: 0px 2.5px 0 0 #f7fafa80;
}
.icon:hover {
  opacity: .75;
}

.middle {
  margin-top: 5rem;
  overflow: hidden;
  
}
.frontendmentor {
  margin-left: 5rem;
  color: #F7FAFA;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0px 3px 0px #F7FAFA50;
  opacity: .35;
}
.container-cards {
  display: flex;
  flex-direction: row;
  

  gap: 1rem;

}
.card {
  position: relative;
  overflow: hidden;
  height: 300px;
  min-width: 200px;
  font-display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: .5;


}
.card-hover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-text {
  background-color: white;
}
.card-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;

}

@media (max-width: 375px) {
  .top{
    flex-direction: column;
    justify-content: start;
    margin-inline: 1rem;
  }
  .name{
    margin-top: 5rem;
  }
  .icon-link{
    margin-top: 1rem;
  }
  .middle {
    margin-top: 3rem;
  }
  .frontendmentor {
    margin-left: 1rem;
  }
}